/ Templates
%script#J_taskTemplate{"type" => "text/template"}  
  %li{:class => "task clearfix"}
    %span.task-content <%= name %>
    .actions
      %a.J_taskAnnotate{:href => "#"}
        <% if (sub_annotations>0) { %>
        %span.label.label-important <%= sub_annotations %>
        <% } else { %>
        %span.label.label-default annotate
        <% } %>
      <% if (completed_at) { %>
      %a.J_taskActive{:href => "#"}
        %span.label.label-warning active
      <% } else { %>
      %a.J_taskComplete{:href => "#"}
        %span.label.label-success complete
      <% } %>
      %a.J_taskDelete{:href => "#"}
        %span.label.label-info delete
    .annotations.fn-hide