.navigation
  .timenav{:style => "left: 585px;"}
    .content
      .marker.start.active#marker_mCYA{:style => "left: 20px; "}
        .flag{:style => "top: 50px; "}
          .flag-content
            %div{:style => "margin-right:7px;height:50px;width:2px;float:left;"}
            %h3 Sh*t People Say
        .dot
        .line
          .event-line
      .marker#marker_IxNAU{:style => "left: 54px; "}
        .flag{:style => "top: 100px; "}
          .flag-content
            .thumbnail.thumb-youtube#IxNAU_thumb
            %h3 Sh*t Girls Say
        .dot
        .line
          .event-line
      .marker#marker_dCzcAm{:style => "left: 1587px; "}
        .flag{:style => "top: 100px; "}
          .flag-content
            .thumbnail.thumb-youtube#dCzcAm_thumb
            %h3 Sh*t Web Designers Say
        .dot
        .line
          .event-line
    .time
      .time-interval-minor
        .minor{:style => "left: -1031.1111111111313px; width: 4473.333333333334px; "}
      .time-interval-major
        %div{:style => "text-indent: -14.5px; opacity: 100; left: -311.1111111111313px; "} Dec.
        %div{:style => "text-indent: -14px; opacity: 100; left: 722.222222222202px; "} 2012
        %div{:style => "text-indent: -13px; opacity: 100; left: 1755.5555555555354px; "} Feb.
        %div{:style => "text-indent: -23px; opacity: 100; left: 2722.222222222202px; "} March
      .time-interval
        %div{:style => "text-indent: -22px; opacity: 100; left: 22.222222222202014px; "} Dec. 11
        %div{:style => "text-indent: -22px; opacity: 100; left: 155.55555555553536px; "} Dec. 15
        %div{:style => "text-indent: -22px; opacity: 100; left: 288.8888888888687px; "} Dec. 19
        %div{:style => "text-indent: -22px; opacity: 100; left: 422.22222222220205px; "} Dec. 23
        %div{:style => "text-indent: -22px; opacity: 100; left: 555.5555555555354px; "} Dec. 27
        %div{:style => "text-indent: -22px; opacity: 100; left: 688.8888888888687px; "} Dec. 31
        %div{:style => "text-indent: -18px; opacity: 100; left: 822.222222222202px; "} Jan. 4
        %div{:style => "text-indent: -18px; opacity: 100; left: 955.5555555555354px; "} Jan. 8
        %div{:style => "text-indent: -21.5px; opacity: 100; left: 1088.8888888888687px; "} Jan. 12
        %div{:style => "text-indent: -21.5px; opacity: 100; left: 1222.2222222222022px; "} Jan. 16
        %div{:style => "text-indent: -21.5px; opacity: 100; left: 1355.5555555555354px; "} Jan. 20
        %div{:style => "text-indent: -21.5px; opacity: 100; left: 1488.8888888888687px; "} Jan. 24
        %div{:style => "text-indent: -21.5px; opacity: 100; left: 1622.2222222222022px; "} Jan. 28 
  .timenav-background
    .timenav-line{:style => "left: 585px; "}
    .timenav-indicator{:style => "left: 575px; "}
    .timenav-interval-background
      .top-highlight
  .toolbar{:style => "top: 27px; "}
    .back-home{:title => "Return to Title", :rel => "tooltip"}
      .icon
    .zoom-in{:rel => "tooltip", :data => {:originalTitle => "Expand Timeline"}}
      .icon
    .zoom-out{:rel => "tooltip", :data => {:originalTitle => "Contract Timeline"}}
      .icon